<div class="banner">
<h1>Mister Cocktail</h1>
</div>

<ul class="list-group">
  <% @cocktails.each do |cocktail| %>
  <li class="list-group-item">
    <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>


    </li>
  <% end %>
</ul>

<div class="">
<%= link_to 'Create Cocktail', new_cocktail_path =%>
</div>


<footer>
<ul class="list-style-type: none;">
  <li>
    <%= link_to "http://www.facebook.com" do %>
    <i class="fab fa-facebook-square fa-lg"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "http://www.twitter.com" do %>
    <i class="fab fa-twitter fa-lg"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://www.instagram.com" do %>
    <i class="fab fa-instagram fa-lg"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://www.pinterest.fr" do %>
    <i class="fab fa-pinterest fa-lg"></i>
    <% end %>
  </li>
</ul>
</footer>
